/* HEADER STYLE */
html {
    scroll-behavior: smooth;
}
* {
    padding: 0px;
}
body {
    color: #333333;
}
header {
    background: rgba(8, 71, 206, 0.02);
}
.navbar, a.navbar-brand  {
    box-shadow: none;
    color: black;
    font-weight: bold;
}
.headerH1 {
font-family: 'Nunito Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: calc(24px + 30 * ((100vw - 320px) / 680));
line-height: calc(24px + 25 * ((100vw - 320px) / 680));
}
.headerH5 {
    font-size: calc(16px + 10 * ((100vw - 320px) / 680));
    font-weight: 100;
}

.headerH6 {
    font-size: calc(14px + 8 * ((100vw - 320px) / 680));
    font-weight: 600;
}
.searchWrapper, input.form-control {
    min-height:3.5rem;
}
#input-group-append {
    width: 8rem;
    text-align: center!important;
}
.case h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: calc(24px + 20 * ((100vw - 320px) / 680));
    line-height: calc(24px + 15 * ((100vw - 320px) / 680));
}

@media screen and (min-width: 1000px) {
    header {
        min-height: 100vh;
    }
}